html {
    scroll-behavior: smooth;
  }

  .card-text{
    height: 5vh;
  }

  .carousel-item {
    position: relative;
    text-align: center;
  }

  .toastAlignedRight {
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-80%, -50%);
  }

  .toastAlignedLeft{
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-80%, -50%);
  }

.accordion a{
  color: black;
}

.jumbotron{ /*removes the bottom margin of the jumbotron component*/
  margin-bottom: 0rem;
}

