html {
    scroll-behavior: smooth; /*for smooth scrolling when clicking a link*/
  }

  .card-text{ /*text was too small on cards*/
    height: 5vh;
  }

  .carousel-item { /*in order to position items on top of each other position:relative is neccessary*/
    position: relative;
    text-align: center;
  }

  .toastAlignedRight {  /* to use when positioning toasts on top of images*/
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-80%, -50%);
  }

.accordion a{ /*for changing the text color of the accordion component*/
  color: black;
}

.jumbotron{ /*removes the bottom margin of the jumbotron component*/
  margin-bottom: 0rem;
}

